<div class="m-3 border" style="height:650px"></div>
<div class="m-3 text-center" style="height:100px">
    <div class="btn-group">
        <button type="button" class="btn btn-info m-4 p-3" (click)="onViewAllBirdsClick()">View all birds</button>
        <button type="button" class="btn btn-info m-4 p-3" (click)="onViewMyBirdsClick()">View my birds</button>
        <button type="button" class="btn btn-info m-4 p-3" (click)="onAddNewBirdClick()">Add new bird</button>
    </div>
    <!--div class="card-deck" style="height:100%">
        <div class="card border-primary text-center">
            <div class="card-header">View Birds</div>
            <div class="card-body">
                <p class="card-text">List of all Birds</p>
            </div>
        </div>
        <div class="card border-primary text-center">
            <div class="card-header">My Birds</div>
            <div class="card-body">
                <p class="card-text">List of my Birds</p>
            </div>
        </div>
        <div class="card border-primary text-center">
            <div class="card-header">Add Bird</div>
            <div class="card-body">
                <p class="card-text">Add bird to my list</p>
            </div>
        </div>
    </div -->
</div>


<!--div class="container-fluid" style="margin-top:20px">
    <div class="card-deck">
        <div class="card border-primary w-50">
            <div class="card-header">View Birds</div>
            <div class="card-body">
                <p class="card-text">List of all Birds</p>
            </div>
        </div>
        <div class="card border-primary w-50">
            <div class="card-header">My Birds</div>
            <div class="card-body">
                <p class="card-text">List of my Birds</p>
            </div>
        </div>
        <div class="card border-primary w-50">
            <div class="card-header">Add Bird</div>
            <div class="card-body">
                <p class="card-text">Add bird to my list</p>
            </div>
        </div>
    </div>
</div -->
