<div class="container-fluid" style="margin-top:100px">
    <div class="row">
        <div class="col-4">
            <div class="card w-50 mx-auto">
                <div class="card-header d-flex justify-content-center align-items-center">Location</div>
                <div class="card-body d-flex justify-content-center align-items-center">Content</div>
             </div>
        </div>
        <div class="col-4 bg-light">
        </div>
        <div class="col-4 bg-warning">
        </div>
    </div>    
 </div>
  
